//fonts 
$josefin: 'Josefin Sans', sans-serif;
$aleoregular: 'aleoregular', sans-serif;
$aleo: 'aleo', sans-serif;
//color: 
$blue: #5474fd;
$grey: #e8e8e8;
$black: #333333;
$red: #ff6363;
$lblue: #00a2ff;